<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Jordan Schatzman Learning Blog">
    <meta name="author" content="Jordan Schatzman">
    <title>Jordan Schatzman - Learning Blog</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>Today's lecture was difficult for me to follow due to the breakneck speed. 
                    I enjoyed working on the deque today, it was a breeze and I'm really seeing 
                    the value of class composition. Once I got to working on the pyramid assignment 
                    I was pretty lost and I'm still trying to work through it. I have no doubt that 
                    pyramid is awesome, and while I can follow along with the class notes, 
                    I'm not really at a point yet where I understand what's going on. 
                    I'm hoping that will change soon.
                </p>
            </div>
        </div>


</body>

</html>