<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Jordan Schatzman Learning Blog">
    <meta name="author" content="Jordan Schatzman">
    <title>Jordan Schatzman - Learning Blog</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="page-header">
                    <a href="/">Home</a>
                    <br/>Learning Blog
                </h1>
                <form role="form">
                    <div class="form-group">
                        <p>Title</p>
                        <input class="form-control" value="Day 8 HTTP and Doubly Linked List"></input>
                        <br/>
                        <p>Body<p>
                        <textarea class="form-control" rows="10">{{entries.body}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>